In [1]:
import pandas as pd

In [2]:
import pandas as pd
hm_raw_data = pd.read_csv("hm.csv")
hm_raw_data.head() #leer las primeras 5 lineas

   talla  peso  clase
0    170    56      0
1    172    63      1
2    160    50      0
3    170    63      1
4    174    66      1

In [3]:
hm_raw_data.shape
# total de instancias/registros y cantidad de columnas

(9, 3)

In [4]:
type(hm_raw_data)
# pandas.core.frame.DataFrame tipo DataFrame

pandas.core.frame.DataFrame

In [5]:
hm_raw_data['talla'] # toma una sola columna del marco de datos

0    170
1    172
2    160
3    170
4    174
5    158
6    183
7    182
8    165
Name: talla, dtype: int64

In [6]:
type(hm_raw_data['talla'])
# pandas.core.series.Series

pandas.core.series.Series

In [7]:
hm_raw_data['talla'].describe() #entrega detalles sobre los datos de la variable talla

count      9.000000
mean     170.444444
std        8.661858
min      158.000000
25%      165.000000
50%      170.000000
75%      174.000000
max      183.000000
Name: talla, dtype: float64

In [8]:
hm_raw_data['peso'].describe() #entrega detalles sobre los datos de la variable peso

count     9.000000
mean     61.888889
std       9.346717
min      50.000000
25%      55.000000
50%      63.000000
75%      66.000000
max      80.000000
Name: peso, dtype: float64